/* CSS File for About Page _ about.css */

#aboutsite h1 {
    font-size: 30px;
    font-family: "AcherusMilitant", sans-serif;
    font-weight: 100;
    
    text-align: center;
    
    margin: 0;
    margin-top: 2rem;
}