/* CSS file for Main Page _ index.html */

a:link, a:visited {
    color: black;
}

/* Top Content */
.top {
    overflow: auto;
}

.img {
    float: right;
    width: 54%;
}

#code {    
    float: right;
    width: 100%;
    
    border-radius: 5%;
}

.non {
    float: left;
    width: 45%;
}

#intro {
    position: relative;
    
    text-align: center;
    font-size: 3em;

    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 3px;
}

#sub {
    position: relative;
    
    margin-top: 5px;
    
    text-align: center;
    font-size: 30px;
}

/* Middle Content */
.middle {
    left: 0;
    right: 0;    
}

#motto {
    background-color: #F2C0C1;
    
    text-align: center;
    font-size: 30px;
    font-family: "AcherusMilitant", "Nexa", sans-serif;
}

/* Bottom Content */
.bottom {
    position: relative;
    overflow: auto;
    font-family: "AcherusMilitant", "Nexa", sans-serif;
}

.left {
    margin-left: 10%;
    text-align: center;
    float: left;
    max-width: 20%;
    min-width: 20%;
    
    border: 1px solid black;
    
    box-shadow: 0 0 6px black;
}
.center {
    text-align: center;
    margin: auto;
    max-width: 20%;
    
    border: 1px solid black;
    
    box-shadow: 0 0 6px black;
    
}
.right {
    margin-right: 10%;
    text-align: center;
    float: right;
    max-width: 20%;
    min-width: 20%;
    
    border: 1px solid black;
    
    box-shadow: 0 0 6px black;
}

#projlink {
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
}

/* Footer override */

.footer {
    position: relative;
}
