/* index.css _ CSS Stylesheet for index.html */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* w3-btn from W3S stylesheet */
/* https://www.w3schools.com/w3css/4/w3.css */
.w3-btn {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-btn:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.no-border {
    border: none;
}

.nav {
    
}

/* Header */
@media screen and (orientation: landscape){

    header {
        background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(0,101,90,1) 25%, rgba(7,83,156,1) 50%, rgba(5,172,189,1) 75%, rgba(37,195,98,1) 100%);
        display: flex;
        flex-direction: row;
        
        animation: Gradient 15s ease infinite;
        background-size: 400% 100%;
    }
    
    .headpor1, .headpor2 {
        width: 50%;
    }

    .headpor2 {
        display: table;
        height: 100vh;
    }

    .headimg {
        display: block;
        margin: auto;
        min-height: 100vh;
        max-width: 100%;
    }

    .webtitle {
        display: table-cell;
        vertical-align: middle;

        text-align: center;
        font-family: 'Raleway', sans-serif;

        margin: 0;
        color: white;
    }
    
    .title {
        font-size:10vw;
    }
    
    .sub {
        font-size:2vw
    }
    
    .nav {
        display: flex;
        position: absolute;

        flex-direction: row;
        justify-content: space-around;

        right: 1em;
    }

    .nav button {
        color: black;

        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
    }
    
    .projects {
        display: flex;
        
        margin-top: 1em;
        
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .pt1 {
        width: 40%;
        text-align: center;
        margin-bottom: 1em;
    }
    
    
    .link {
        border-radius:32px;
        
        color: black;
        background-color: lightgray;
        
        width: 49.5%;
        padding: 8px 0;
    }
}

@media screen and (orientation: portrait){
    
    header {
        background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(0,101,90,1) 25%, rgba(7,83,156,1) 50%, rgba(5,172,189,1) 75%, rgba(37,195,98,1) 100%);
        display: flex;
        flex-direction: column;
        
        height: 100vh;
        animation: Gradient 15s ease infinite;
        background-size: 400% 100%;
    }
    
    .headpor1 {
        margin-top: 5em;
        height: 50%;
    }
    
    .headpor2 {
        height: 35%;
    }

    .headimg {
        display: block;
        margin: auto;
        
        width: 100vw;
        max-height: 100%;
    }

    .webtitle {
        text-align: center;
        font-family: 'Raleway', sans-serif;

        margin: 0;
        color: white;
    }
    
    .title {
        font-size:25vw;
    }
    
    .sub {
        font-size:5vw;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        width: 100%;
    }

    .nav button {
        width: 100%;
        
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        
        color: black;
    }
    
    .projects {
        display: flex;
        
        margin-top: 1em;
        
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .pt1 {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    .link {
        border-radius:32px;
        
        color: black;
        background-color: lightgray;
        
        width: 49%;
        padding: 8px 0;
    }
}

/* Content */
.content {
    font-family: 'Raleway', sans-serif;

    max-width: 90%;
    margin: auto;
}

/* Footer */
footer {
    display: table;
    
    width: 100%;
    height: 95px;
    
    background-color: #181716;
    
    text-align: center;
    font-family: 'Nexa', sans-serif;
    font-size: 15px;
}

.oinf {
    display: table-cell;
    vertical-align: middle;
    
    color: gainsboro;
    
    width: 100%;
    margin: 0;
}

/* ANIMATION */

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  0%  { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

.button:hover {
  animation: animation 1000ms linear infinite both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/2c0yWK */

@keyframes Gradient {
	0%   { background-position: 0% 50% }
	50%  { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes animation { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.4% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.351, 0, 1); }
  4.8% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 15.184, 0, 1); }
  9.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.956, 0, 1); }
  13.71% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 16.955, 0, 1); }
  17.92% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 12.721, 0, 1); }
  26.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.23, 0, 1); }
  34.53% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.409, 0, 1); }
  42.84% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.505, 0, 1); }
  59.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.336, 0, 1); }
  76.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.119, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

