@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.filter-white {
  filter: invert(98%) sepia(13%) saturate(70%) hue-rotate(239deg) brightness(113%) contrast(100%);
}

.filter-white:hover {
  filter: invert(45%) sepia(62%) saturate(0%) hue-rotate(289deg) brightness(97%) contrast(84%);
}
